
a{
	cursor: pointer;
}

.img_small{
	height: 90vh;
	width: 80vw;
	margin: 0 auto; 
	float: none; 
	margin-bottom: 10px; 
	overflow-y: scroll;
}

::-webkit-scrollbar {
	width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}
.ui-datepicker-calendar,.ui-datepicker-month { display: none; }

#progressbar .ui-progressbar-value {
	background-color: #5DADE2;
	top: 10vh;
}
u {
	text-decoration: none;
	border-bottom: 1px solid;
	}​
	.label{
		margin-left: 4vh !important;
		margin-right: 4vh !important;
	}

	input[type="radio"]{
		margin: 0 9px 0 9px;
	}
	input[type=search]::-webkit-search-cancel-button {
		-webkit-appearance: searchfield-cancel-button;
	}